// .mat-card-header {
//   .flex {
//     gap: 1rem;
//     width: 100%;

//     @media (min-width: 768px) {
//       width: auto;
//     }
//   }
// }

// /* Estilo para el botón en móviles */
// @media (max-width: 767px) {
//   .mat-card-header {
//     flex-direction: column;
//     align-items: stretch;

//     button.mat-raised-button {
//       width: 100%;
//       margin-top: 1rem;
//     }
//   }
// }

.container {
  width: 100%;
  // max-width: 1200px;
  // margin: 10px auto;
  // padding: 10px;
  // box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.toolbar {
  display: flex;
  align-items: center;
  // margin-bottom: 20px;
  // gap: 16px;
}

.search-field {
  width: 500px;
}

.spacer {
  flex: 1;
}

