<mtx-grid #grid
    [data]="filteredData"
    [columns]="columns"
    [loading]="isLoading"
    [columnResizable]="tableConfig.columnResizable ?? false"
    [multiSelectable]="tableConfig.multiSelectable ?? false"
    [rowSelectable]="tableConfig.rowSelectable ?? false"
    [hideRowSelectionCheckbox]="tableConfig.hideRowSelectionCheckbox ?? false"
    [rowHover]="tableConfig.rowHover ?? false"
    [rowStriped]="tableConfig.rowStriped ?? false"
    [showToolbar]="tableConfig.showToolbar ?? false"
    [toolbarTemplate]="toolbarTemplate"
    [toolbarTitle]="''"
    [showColumnMenuButton]="true"
    [columnMenuButtonType]="'icon'"
    [columnSortable]="tableConfig.columnSortable ?? false"
    [columnMenuButtonIcon]="'view_column'"
    [columnPinnable]="tableConfig.columnPinnable ?? false"
    [expandable]="tableConfig.expandable ?? false"
    [showPaginator]="tableConfig.showPaginator ?? false"
    [pageSize]="tableConfig.pageSize ?? 5"
    [pageSizeOptions]="tableConfig.pageSizeOptions ?? [5, 10, 50, 100]"
    (sortChange)="sortChange.emit($event)"
    (selectionChange)="selectChange.emit($event)"
>

    <ng-template #toolbarTemplate>
        <div style="display: flex; align-items: center; gap: 16px; height: 100%;">
            <mat-form-field appearance="outline" class="w-[350px] search-field" style="height: 100%;">
                <mat-label>{{ 'search' | translate }}</mat-label>
                <input matInput
                    #searchInput
                    (keyup)="search.emit(searchInput.value)"
                    [placeholder]="config.translations.searchPlaceholder | translate: { entityName: config.translations.entityName | translate }"
                    style="height: 100%;">
                <mat-icon matPrefix>search</mat-icon>
                @if (searchInput.value) {
                    <button matSuffix mat-icon-button
                            (click)="clearSearch.emit(searchInput)">
                        <mat-icon>close</mat-icon>
                    </button>
                }
            </mat-form-field>
            <div class="spacer"></div>

            <button mat-icon-button (click)="create.emit()"
              matTooltip="{{ 'common.add' | translate }} {{ config.translations.entityName | translate }}"
              matTooltipPosition="above" >
              <mat-icon>add_circle_outline</mat-icon>
            </button>

            <button mat-icon-button (click)="create.emit()"
              matTooltip="{{ 'common.refresh' | translate }}"
              matTooltipPosition="above" >
              <mat-icon>refresh</mat-icon>
            </button>

        </div>
    </ng-template>
</mtx-grid>
