<nav aria-label="breadcrumb">
  <ol class="matero-breadcrumb">
    @for (item of navItems; track trackByNavItem($index, item); let isFirst = $first) {
      <li class="matero-breadcrumb-item">
        @if (isFirst) {
          <a href="#" class="link">
            @if (isIconItem(item)) {
              <mat-icon [attr.aria-label]="item.ariaLabel">{{item.icon}}</mat-icon>
            } @else {
              {{item | translate}}
            }
          </a>
        }
        @if (!isFirst) {
          <mat-icon class="chevron">chevron_right</mat-icon>
          <span>
            @if (isIconItem(item)) {
              <!-- Opcional: Mostrar texto para otros íconos si es necesario -->
            } @else {
              {{item | translate}}
            }
          </span>
        }
      </li>
    }
  </ol>
</nav>
